* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #8b533c;
    padding: 20px;
}

.container {
    background: white;
    max-width: 800px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #c44f21;
    margin-bottom: 15px;
}

p {
    line-height: 1.5;
    font-size: 1.1rem;
    margin-bottom: 12px;
}

nav a {
    text-decoration: none;
    background: #a81818;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
    display: inline-block;
    transition: .3s;
}

nav a:hover {
    background: #cc662b;
    transform: scale(1.05);
}

ul {
    margin-left: 20px;
}
