/* reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.contenedor {
    max-width: 1000px;
    margin: auto;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* cabecera */
.cabecera {
    background-image: url('../img/header.jpg');
    background-size: cover;
    padding: 20px;
    color: rgb(211, 90, 90);
    text-shadow: 1px 1px 2px black;
}

/* menu principal */
.menu {
    background: #1d3557;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* contenido */
.contenido {
    padding: 20px;
    flex-grow: 1;
}

/* tarjetas para libros */
.tarjeta {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    width: 220px;
    margin: 10px;
    background-color: #fafafa;
}

.lista-libros {
    display: flex;
    flex-wrap: wrap;
}

/* pie */
.pie {
    background: #1d3557;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

.menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
}

.menu button:hover {
  background-color: #457b9d;
}

.tarjeta img {
  width: 200px;
  height: 280px;
  object-fit: cover; /* evita deformaciones */
  border-radius: 6px; /* opcional, para diseño más lindo */
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}

.formulario input,
.formulario select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulario button {
  padding: 10px;
  margin-top: 10px;
  background-color: #1d3557;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.formulario button:hover {
  background-color: #457b9d;
}
.contenido p {
  font-size: 18px;
  margin: 8px 0;
}
